#heading{
    font-size: 30;
    color: orange;
    text-align: center;
}
.img{
    border-style:outset;
    border-radius: 20px;
    border-width: 10;
}
#align{
    text-align: right;
    font-size: 20;
}
#list{
    color: blue;
}
#top{
    color: black;
    text-decoration:underline 2px red;
    font-style: oblique;
    font-size: large;
}
div{
    background-color:lime;
    width:auto;
    height: auto;
    border: 5px solid green;
    border-radius: 25px;
    border-style: inherit;
    box-shadow: 10px 10px rgb(76, 148, 243);
    padding: 50px;
    margin: 5px;
}
#new{
    color: black;
    font-size: x-large;
    font-style: oblique;
    text-decoration:underline 2px red;
}
#table{
    background-color: lightcoral;
    padding: 25px;
    text-align: center;
    column-gap: 40px;
}
th{
    padding-left: 25px;
    padding-top: 15px;
    font-size: 20px;
}
.grid-container{
    display: grid;
    grid: initial;
    border-radius: 25;
}
.column{
    display:grid;
    float: left;
    height: 200;
    width: 40%;
}
.row{
    float: left;
}
